.footer {
  min-height: 70px;
  background-color: #a6bf4b;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10pt;
  font-family: 'Open Sans';
}
